# Configurações do Supabase
SUPABASE_URL=https://sua_url.supabase.co
SUPABASE_KEY=sua_chave_anon_publica

# Configurações da Z-API
ZAPI_INSTANCE_ID=seu_id_da_instancia
ZAPI_TOKEN=seu_token
# Client Token é opcional, se a sua instância exigir, coloque aqui, senão deixe em branco
ZAPI_CLIENT_TOKEN=
